@charset "UTF-8";

body {
    font-size: 50px !important;
}

.card {
    border-radius: 2.3rem !important;
}

.card-title span {
    font-weight: bold;
    font-size: 70px;
}

.toast {
    border-radius: 2.3rem !important;
}

#notification-section {
    top: 0px;
    z-index: 1;
}

#list-section {
    margin: 140px 0px 0px 0px;
}

#post-button {
    bottom: 30px;
    right: 30px;
}

.btn {
    font-size: 50px !important;
}

#tickets {
    font-size: 50px !important;
}

button {
    font-size: 50px !important;
}