@charset "UTF-8";

body {
    font-size: 50px !important;
    background-color: #fcfafa !important;
}

.card {
    border-radius: 2.3rem !important;
    border: 1px solid rgba(0, 0, 0, .1) !important;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.card-header:first-child {
    border-radius: calc(2.3rem - 1px) calc(2.3rem - 1px) 0 0 !important;
}

.card-title span {
    font-weight: bold;
    font-size: 70px;
}

.toast {
    border-radius: 2.3rem !important;
}

#notification-section {
    top: 0px;
    z-index: 1;
}

#list-section {
    margin: 140px 0px 0px 0px;
}

#post-button {
    bottom: 30px;
    right: 30px;
}

.btn {
    font-size: 50px !important;
}

#tickets {
    font-size: 50px !important;
}

button {
    font-size: 50px !important;
}