.container {
    padding: 10px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    border: solid 3px #000000;
}

.profile {
    padding: 0.5em 1em;
    margin: 0em auto;
    font-weight: bold;
    width: 500px;
    text-align: center;
}

.image img {
    width: 1;
    height: 1;
}

.list {
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.time,
.comment,
.topic {
    padding: 0.5em 0.5em;
    margin: 1em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

.call {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;
    border: solid 1px #0f9ada;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.call:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.delete {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #d10b0b;
    border: solid 1px #d10b0b;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.delete:active {
    border: solid 1px #d10b0b;
    box-shadow: none;
    text-shadow: none;
}