@charset "UTF-8";

body {
    font-size: 50px !important;
    background-color: #fcfafa !important;
}

.navbar-brand {
    font-size: 50px !important;
}

.card {
    border: none !important;
}

.card-title {
    font-size: 80px !important;
}

.profile-image {
    width: 200px;
}

.time {
    font-size: 75px;
    font-weight: bold;
}

.comment {
    font-size: 60px;
    font-weight: bold;
}

.topic {
    font-weight: bold;
}

.btn {
    font-size: 80px !important;
}

.btn.btn-danger {
    font-size: 50px !important;
}

button {
    font-size: 50px !important;
}